*.csv
*.xls
*.xlsx
*.pdf
*.jpg
*.jpeg
*.tif
*.tiff
*.rds
*.RData
*.Rhistory

construct_seoul/
output/
real_price/

ichon_redevelopment_article.md
ichon_redevelopment_article.html

/commercial_zone.png
/convention.png
/residential_zone.png
/special_zoning.png
/zoning_status.png
